extends ../app

include ../components/breadcrumbs

block content
  -
    const years = [
      '2008',
      '2010',
      '2013',
      '2014',
      '2016',
      '2018',
      '2020',
      '2022',
      '2023'
    ]

  .container
    .about-top
      picture.about-top__bg
        source(
          srcset='assets/images/about-top-bg-mob.webp',
          type='image/webp',
          media='(max-width: 767px)'
        )
        source(
          srcset='assets/images/about-top-bg-mob.jpg',
          type='image/jpeg',
          media='(max-width: 767px)'
        )

        source(
          srcset='assets/images/about-top-bg-tablet.webp',
          type='image/webp',
          media='(min-width: 768px) and (max-width: 1023px)'
        )
        source(
          srcset='assets/images/about-top-bg-tablet.jpg',
          type='image/jpeg',
          media='(min-width: 768px) and (max-width: 1023px)'
        )

        source(
          srcset='assets/images/about-top-bg.webp',
          type='image/webp',
          media='(min-width: 1024px)'
        )
        img(src='assets/images/about-top-bg.jpg', alt='')

      .about-top__text
        +breadcrumbs(page='О компании')
        h1.h1 О компании

  .about-bg.container
    .about-second
      .about-big-text Manipula Specialist® сегодня — #[br] лидирующий российский бренд в сфере &nbsp; #[br.only-desktop] высококачественных профессиональных СИЗ рук

      .about-blockquote
        .about-blockquote__title Основа деятельности
        .about-blockquote__text
          span Продвижение и совершенствование культуры потребления качественных средств защиты, отвечающих современным требованиям стандартов безопасности, прозрачной и честной бизнес-культуры и поддержки безопасности и здоровья человека на современных рабочих площадках.

    .about-slider
      .swiper(data-slider-id='about')
        .swiper-wrapper
          - for (i=0;i<3;i++)
            .swiper-slide
              picture
                source(
                  srcset='assets/images/about-slide.webp',
                  type='image/webp',
                  media='(min-width: 1024px)'
                )
                img(src='assets/images/about-slide.jpg', alt='')
      .swiper-pagination.about-pagination(data-swiper-pagination='about')

      .product-slider-controls
        button.slider-control.dark(data-prev='about')
          +arrow-left
        button.slider-control.dark(data-next='about')
          +arrow-right

  .container
    .about-cards
      .about-cards__item
        img.about-cards__ico(src='assets/images/svg/about-card-0.svg', alt='')
        .about-cards__text
          span Широкий ассортимент высококачественной продукции, соответствующий всем требованиям ТР ТС 019 / 2011 «О безопасности средств индивидуальной защиты»
      .about-cards__item
        img.about-cards__ico(src='assets/images/svg/about-card-1.svg', alt='')
        .about-cards__text
          span Постоянное изучение современных условий труда, отслеживание изменений нормативных документов, аудит производственных площадок позволяет обеспечивать наших клиентов первоклассными защитными решениями
      .about-cards__item
        img.about-cards__ico(src='assets/images/svg/about-card-2.svg', alt='')
        .about-cards__text
          span Прозрачные бизнес-процессы и уважительные отношения с партнерами, обеспечиваемые ориентацией нашей бизнес-модели на современные системы стандарта качества менеджмента
      .about-cards__item
        img.about-cards__ico(src='assets/images/svg/about-card-3.svg', alt='')
        .about-cards__text
          span Вклад в будущее страны и общества, реализуемый через социальные инициативы компании, поддержку здорового образа жизни и спортивной культуры как внутри коллектива, так и во внешней деятельности

    .about-block
      .about-block-title
        h2.about-title Используем лучшие защитные #[br] технологии из мировой практики

        .controls.only-desktop
          button.slider-control.dark(data-prev='series')
            +arrow-left
          button.slider-control.dark(data-next='series')
            +arrow-right

      .swiper.slider-drop-container(data-slider-id='series')
        .swiper-wrapper
          - for (i=0;i<3;i++)
            .swiper-slide.auto-slide
              .series-card
                img.series-card__logo(
                  src='assets/images/series-logo-0.png',
                  alt=''
                )
                .series-card__ttl Dupont™ Kevlar®
                .series-card__text Параарамидное волокно, устойчивое к порезам, истиранию и тепловому воздействию. Не плавится и не поддерживает горение.
            .swiper-slide.auto-slide
              .series-card
                img.series-card__logo(
                  src='assets/images/series-logo-1.png',
                  alt=''
                )
                .series-card__ttl Dyneema® Diamond Technology
                .series-card__text Параарамидное волокно, устойчивое к порезам, истиранию и тепловому воздействию. Не плавится и не поддерживает горение.

    .about-block
      .about-block-title
        h2.about-title Разрабатываем и внедряем #[br] инновационные решения

        .controls.only-desktop
          button.slider-control.dark(data-prev='solutions')
            +arrow-left
          button.slider-control.dark(data-next='solutions')
            +arrow-right

      .swiper.slider-drop-container(data-slider-id='solutions')
        .swiper-wrapper
          - for (i=0;i<2;i++)
            .swiper-slide.auto-slide
              .solutions-card
                .solutions-card__info
                  .solutions-card__title SlipGrip
                  .solutions-card__text Матричная технология нанесения ПВХ, увеличивающая механическую прочность, эластичность и обеспечивает надежный сухой захват.
                picture.solutions-card__img
                  img(src='assets/images/about-solutions-0.jpg', alt='')
                img.solutions-card__logo(
                  src='assets/images/solutions-logo-0.png',
                  alt=''
                )
            .swiper-slide.auto-slide
              .solutions-card
                .solutions-card__info
                  .solutions-card__title Sapphire Technology
                  .solutions-card__text Антипорезный материал на основе высокомодульного полиэтилена с высокой стойкостью к истиранию и раздиру.
                picture.solutions-card__img
                  img(src='assets/images/about-solutions-1.jpg', alt='')
                img.solutions-card__logo(
                  src='assets/images/solutions-logo-1.png',
                  alt=''
                )

    .about-block
      .about-block-title
        h2.about-title Брендированные серии

        .only-desktop.group-buttons
          a.button.button--blue(href='')
            span Каталог
            .button__ico
              +double-arrow-right

          .controls
            button.slider-control.dark(data-prev='brands')
              +arrow-left
            button.slider-control.dark(data-next='brands')
              +arrow-right

      .swiper.slider-drop-container(data-slider-id='brands')
        .swiper-wrapper
          - for (i=0;i<2;i++)
            .swiper-slide.auto-slide
              .brands-card
                picture.brands-card__img
                  source(
                    srcset='assets/images/about-brands-0.webp',
                    type='image/webp'
                  )
                  img(src='assets/images/about-brands-0.jpg', alt='')
                .brands-card__content
                  .brands-card__title Detrion
                  .brands-card__txt Высокотехнологичная линейка противоударных перчаток с высоким уровнем защиты по нескольким показателям.

            .swiper-slide.auto-slide
              .brands-card
                picture.brands-card__img
                  source(
                    srcset='assets/images/about-brands-1.webp',
                    type='image/webp'
                  )
                  img(src='assets/images/about-brands-1.jpg', alt='')
                .brands-card__content
                  .brands-card__title Арамакс
                  .brands-card__txt Серия защитных решений от порезов с дополнительной стойкостью к высоким температурам

      a.button.button--blue.only-mobile.brands-catalog-btn(href='')
        span Каталог
        .button__ico
          +double-arrow-right

    .about-block.model-section
      .about-model-cols
        h2.about-title Бизнес-модель
        .responsibility__text
          span «Манипула Специалист» — вертикально интегрированная компания. Выбранная бизнес-модель позволяет нам эффективно управлять собственными ресурсами, контролировать все этапы зарождения и использования продукта, а также всегда оставаться в тесной связи с дистрибьюторами и конечными потребителями.

      .model-drop-cols
        div
          h3.model-drop-title От производства

          ul.model-drop-list
            li
              .model-drop-mark
              .model-drop-mark-line.bottom

              .dropdown.dark.model-dropdown(data-dropdown)
                button.dropdown-button(data-dropdown-button)
                  .dropdown-button__inner
                    +model1
                    span Подготовка
                  .dropdown-arrow
                    +arrow-down
                .dropdown-drop(data-dropdown-drop, style='display: none')
                  .dropdown-inner
                    ul.model-drop-list
                      li
                        .model-drop-mark
                        .model-drop-mark-line.bottom
                        span Заявка в научно-исследовательский центр
                      li
                        .model-drop-mark-line.top
                        .model-drop-mark
                        .model-drop-mark-line.bottom
                        span Разработка опытных образцов
                      li
                        .model-drop-mark-line.top
                        .model-drop-mark
                        .model-drop-mark-line.bottom
                        span Сертификация продукции
                      li
                        .model-drop-mark-line.top
                        .model-drop-mark
                        span Серийный выпуск

            li
              .model-drop-mark-line.top
              .model-drop-mark

              .dropdown.dark.model-dropdown(data-dropdown)
                button.dropdown-button(data-dropdown-button)
                  .dropdown-button__inner
                    +model2
                    span Производственный комплекс и бэк-офис
                  .dropdown-arrow
                    +arrow-down
                .dropdown-drop(data-dropdown-drop, style='display: none')
                  .dropdown-inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem atque exercitationem dolore, ullam voluptate nobis officia numquam neque dolor id voluptates unde nulla et ad obcaecati error reprehenderit tenetur ducimus?
        div
          h3.model-drop-title К потребителю

          ul.model-drop-list
            li
              .model-drop-mark
              .model-drop-mark-line.bottom

              .dropdown.dark.model-dropdown(data-dropdown)
                button.dropdown-button(data-dropdown-button)
                  .dropdown-button__inner
                    +model3
                    span Центральный логистический комплекс
                  .dropdown-arrow
                    +arrow-down
                .dropdown-drop(data-dropdown-drop, style='display: none')
                  .dropdown-inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem atque exercitationem dolore, ullam voluptate nobis officia numquam neque dolor id voluptates unde nulla et ad obcaecati error reprehenderit tenetur ducimus?
            li
              .model-drop-mark-line.top
              .model-drop-mark
              .model-drop-mark-line.bottom

              .dropdown.dark.model-dropdown(data-dropdown)
                button.dropdown-button(data-dropdown-button)
                  .dropdown-button__inner
                    +model4
                    span Дистрибьютор
                  .dropdown-arrow
                    +arrow-down
                .dropdown-drop(data-dropdown-drop, style='display: none')
                  .dropdown-inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem atque exercitationem dolore, ullam voluptate nobis officia numquam neque dolor id voluptates unde nulla et ad obcaecati error reprehenderit tenetur ducimus?

            li
              .model-drop-mark-line.top
              .model-drop-mark

              .dropdown.dark.model-dropdown(data-dropdown)
                button.dropdown-button(data-dropdown-button)
                  .dropdown-button__inner
                    +model5
                    span Потребитель
                  .dropdown-arrow
                    +arrow-down
                .dropdown-drop(data-dropdown-drop, style='display: none')
                  .dropdown-inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem atque exercitationem dolore, ullam voluptate nobis officia numquam neque dolor id voluptates unde nulla et ad obcaecati error reprehenderit tenetur ducimus?

  .main-bg2-section
    .container
      .trust
        h2.about-title Нам доверяют
        .trust__tabs.tabs.only-desktop
          -
            const tabs = [
              'Авиакосмическая промышленность',
              'Автомобильная промышленность',
              'Атомная энергетика',
              'Газовая промышленность',
              'Оборонно-промышленный комплекс',
              'Нефтяная и нефтеперерабатывающая промышленность',
              'Пищевая промышленность',
              'Химическая промышленность',
              'Электротехническая промышленность',
              'Электроэнергетика'
            ]
          each el, i in tabs
            if i === 0
              .tabs__item.active= el
            else
              a.tabs__item(href)= el

        .trust__list
          -
            const items = [
              'АО «Авиакомпания «Россия»',
              'Госкорпорация «Роскосмос»',
              'АО «Информационные спутниковые системы» имени академика М. Ф. Решетнёва»',
              'ПАО «Роствертол»'
            ]
          each el, i in items
            .trust__item
              picture
                source(
                  srcset=`assets/images/trust-${i}-mob.webp`,
                  type='image/webp',
                  media='(max-width: 1023px)'
                )
                source(
                  srcset=`assets/images/trust-${i}-mob.jpg`,
                  type='image/jpeg',
                  media='(max-width: 1023px)'
                )
                source(
                  srcset=`assets/images/trust-${i}.webp`,
                  type='image/webp'
                )
                img(src=`assets/images/trust-${i}.jpg`, alt='')
              .trust__title= el

      .history
        h2.about-title История

        .history-slider
          #history-slider.swiper
            .swiper-wrapper
              each el in years
                .swiper-slide.history-slider__slide
                  picture
                    img(src='assets/images/history-0.jpg', alt='')
                  .history-slider__info
                    h4= el
                    p Создание бренда Manipula Specialist®. Разработка собственной технологии покрытия SlipGrip и выход первой продукции на рынок.

          #history-thumbs.swiper
            .swiper-wrapper
              each el in years
                .swiper-slide= el

          .controls.only-desktop
            button#history-slider-prev.slider-control.dark
              +arrow-left
            button#history-slider-next.slider-control.dark
              +arrow-right

  .container
    .responsibility
      h2.about-title Социальная ответственность
      .responsibility__cols
        .responsibility__text
          span Здоровье — основополагающая и естественная жизненная ценность. Мы стремимся защитить ее не только в условиях трудовой деятельности, но и в повседневной жизни, оказывая поддержку спорту — главному на сегодня социальному фактору, способному сплотить, объединить и направить в сторону здорового будущего.
        .responsibility__text
          span Мы верим, что вклад в спортивное развитие сегодня — это основа здоровой нации завтра.

      .responsibility__cols
        div
          picture.responsibility__img
            source(
              srcset='assets/images/responsibility-0.webp',
              type='image/webp'
            )
            img(src='assets/images/responsibility-0.jpg', alt='')
          .responsibility__desc Создание футбольной команды
        div
          picture.responsibility__img
            source(
              srcset='assets/images/responsibility-1.webp',
              type='image/webp'
            )
            img(src='assets/images/responsibility-1.jpg', alt='')
          .responsibility__desc Поддержка спортсменам барнаульского клуба каратэ «Амара»
