extends ../app

include ../components/breadcrumbs
include ../components/cards/news-card

block content
  .container.contacts-page
    +breadcrumbs(page='Контакты')

    .contacts-top
      h1.h1 Контакты
      a.button.contacts-link.fit-content(href='')
        span Мы Вконтакте
        .button__ico
          +vk-blue

    .contacts-map
      .contacts-map-info.light-blue
        .contacts-map-info__title Центральный офис
        .contacts-map-info__text 121471, Москва, ул. Рябиновая, 26/2, БЦ «West Plaza»
        ul.contacts-map-info__list.list-red-dot
          li
            a(href='tel:+74950330331') +7 495 033-033-1
          li
            a(href='mailto:info@manipulas.ru') info@manipulas.ru

      #contacts-map

      .contacts-map-info.dark-blue
        .contacts-map-info__title Склад
        .contacts-map-info__text 121471, Москва, ул. Рябиновая, 38Д

    .contacts-cards
      h2.h2 Региональные представители
      .contacts-cards-list
        -
          const cards = [
            {
              title: 'Приволжский и Северо-Западный федеральный округ',
              name: 'Максим Щеглов'
            },
            {
              title: 'Москва и Московская обл., Центральный, Южный и Северо-Кавказский федеральный округ',
              name: 'Людмила Бельская'
            },
            {
              title: 'Дальневосточный федеральный округ',
              name: 'Алексей Гаранин'
            },
            {
              title: 'Уральский федеральный округ',
              name: 'Александр Беляев'
            },
            {
              title: 'Сибирский федеральный округ',
              name: 'Андрей Хлыстов'
            },
          ]

        each el in cards
          .contacts-cards-item
            .contacts-cards__text= el.title
            .contacts-cards__name= el.name
            ul.contacts-cards-item__contacts.list-red-dot
              li
                a(href='tel:+74950330331,1078') +7 495 033-033-1, #1078
              li
                a(href='mailto:mshcheglov@manipulas.ru') mshcheglov@manipulas.ru

    .contacts-bottom
      h2.h2 Связаться с нами
      form.contacts-form(data-contacts-form)
        label.form-label
          input.form-input(
            type='text',
            required,
            data-input,
            data-parsley-string
          )
          span.form-placeholder ФИО
        label.form-label
          input.form-input(
            type='tel',
            required,
            data-input,
            data-mask-phone,
            data-parsley-phone
          )
          span.form-placeholder Телефон
        label.form-label
          input.form-input(type='email', required, data-input)
          span.form-placeholder E-mail
        label.form-label
          input.form-input(
            type='text',
            required,
            data-input,
            data-parsley-string
          )
          span.form-placeholder Страна, город

        label.form-label
          textarea.form-input.form-textarea(data-input)
          span.form-placeholder.t-area Сообщение

        .contacts-form__bottom
          .form-note(data-fancy-button='policy') Нажимая на кнопку «Отправить», вы даете согласие на #[span.red Политику конфиденциальности]

          button.button.button--blue.contacts-form__submit(type='submit')
            span Отправить
            .button__ico
              +double-arrow-right

block scripts
  script(
    src='https://api-maps.yandex.ru/2.1/?apikey=682f216b-3af8-4745-a945-d681997988c6&lang=ru_RU',
    type='text/javascript'
  )
