extends ../app

block variables
  - isMain = true

include ../components/cards/news-card

block content
  .container
    .first-screen
      .first-screen-slider(data-aos='fade-up')
        .swiper(data-slider-id='main')
          .swiper-wrapper
            - for (i=0;i<3;i++)
              .swiper-slide
                picture.first-screen-slider__bg
                  source(
                    srcset='assets/images/first-screen-0-mob.webp',
                    type='image/webp',
                    media='(max-width: 767px)'
                  )
                  source(
                    srcset='assets/images/first-screen-0-mob.jpg',
                    type='image/jpeg',
                    media='(max-width: 767px)'
                  )
                  source(
                    srcset='assets/images/first-screen-0-tablet.webp',
                    type='image/webp',
                    media='(min-width: 768px) and (max-width: 1023px)'
                  )
                  source(
                    srcset='assets/images/first-screen-0-tablet.jpg',
                    type='image/jpeg',
                    media='(min-width: 768px) and (max-width: 1023px)'
                  )
                  source(
                    srcset='assets/images/first-screen-0.webp',
                    type='image/webp'
                  )
                  img(src='assets/images/first-screen-0.jpg', alt='')
                .first-screen-slider__content
                  h2.first-screen-slider__title Перчатки «Дэтрион»
                  .first-screen-slider__text Перчатки Дэтрион рекомендованы для защиты рук от механических (истирание, порезы, проколы) и ударных воздействий, от пониженных температур
        .first-screen-slider__pagination.swiper-pagination(
          data-swiper-pagination='main'
        )

      -
        const first = ['О компании', 'Технологии', 'Где купить', 'Услуги']

      each el, i in first
        if i === 3
          .first-screen-cell(data-aos='fade-up')
            picture.first-screen-cell__bg
              source(
                srcset='assets/images/first-screen-4.webp',
                type='image/webp'
              )
              img(src='assets/images/first-screen-4.jpg', alt='')
            .first-screen-cell__title= el

        else
          a.first-screen-cell(href, data-aos='fade-up')
            picture.first-screen-cell__bg
              if i === 1 || i === 2
                source(
                  srcset=`assets/images/first-screen-${i + 1}-mob.webp`,
                  type='image/webp',
                  media='(max-width: 1023px)'
                )
                source(
                  srcset=`assets/images/first-screen-${i + 1}-mob.jpg`,
                  type='image/jpeg',
                  media='(max-width: 1023px)'
                )
              source(
                srcset=`assets/images/first-screen-${i + 1}.webp`,
                type='image/webp'
              )
              img(src=`assets/images/first-screen-${i + 1}.jpg`, alt='')
            .first-screen-cell__title= el

    .first-bottom(data-aos='fade-up')
      h2.first-bottom__title Манипула Специалист — первый российский производитель профессиональных высококачественных СИЗ рук
      .first-bottom__text
        .first-bottom__col
          span Фундаментальные принципы компании — пропаганда потребления качественных средств защиты, открытый диалог, исключение компромиссов в вопросах здоровья Человека и реализация лучших международных практик.
        .first-bottom__col
          span Мы предлагаем готовый комплекс эффективных решений в области охраны труда и снижения травматизма на каждом рабочем месте.

  section.solutions
    .container
      h2.h2.main-title(data-aos='fade-up') Отраслевые решения
      .solutions-list
        -
          const list = [
            'Нефть <br/> и нефтепереработка',
            'Газовая <br/> промышленность',
            'Электроэнергетика',
            'Атомная энергетика',
            'Пищевая <br/> промышленность',
            'Химическая <br/> промышленность'
          ]
        each el, i in list
          a.solutions-item(href, data-aos='fade-up')
            picture.solutions-item__bg
              source(
                srcset=`assets/images/solutions-${i}.webp`,
                type='image/webp'
              )
              img(src=`assets/images/solutions-${i}.jpg`, alt='')
            .solutions-item__ttl!= el
            +solutions(i)

  .container
    section.news
      .news-top(data-aos='fade-up')
        h2.h2 Последние новости
        .controls.only-desktop
          button.slider-control.dark(data-prev='news')
            +arrow-left
          button.slider-control.dark(data-next='news')
            +arrow-right

      .news-slider(data-aos='fade-up')
        .swiper(data-slider-id='news')
          .swiper-wrapper
            - for (i=0;i<5;i++)
              .swiper-slide.news-slide
                .news-list.only-desktop
                  +news-card(
                    img='news-0',
                    date='6 марта 2023',
                    tag='Новости компании',
                    title='Выставка KIOSH-2023 в Казахстане 24-26 мая',
                    modal='news'
                  )
                  +news-card(
                    img='news-0',
                    date='6 марта 2023',
                    tag='Новости компании',
                    title='Выставка KIOSH-2023 в Казахстане 24-26 мая',
                    modal='news'
                  )
                  +news-card(
                    img='news-0',
                    date='6 марта 2023',
                    tag='Новости компании',
                    title='Выставка KIOSH-2023 в Казахстане 24-26 мая',
                    modal='news'
                  )
                .only-mobile
                  +news-card(
                    img='news-0',
                    date='6 марта 2023',
                    tag='Новости компании',
                    title='Выставка KIOSH-2023 в Казахстане 24-26 мая',
                    modal='news'
                  )

        a.button.news-slider__more(href='')
          span Все новости
          .button__ico
            +double-arrow-right

block modals
  include ../components/modals/news-modal
