extends ../app

block variables
  //- - preloader = true

include ../components/cards/news-card

block content
  .container
    .first-screen
      .first-screen-slider
        .swiper(data-slider-id='main')
          .swiper-wrapper
            - for (i=0;i<3;i++)
              .swiper-slide
                picture.first-screen-slider__bg
                  //- source
                  img(src='assets/images/first-screen-0.jpg', alt='')
                .first-screen-slider__content
                  h2.first-screen-slider__title Перчатки «Дэтрион»
                  .first-screen-slider__text Перчатки Дэтрион рекомендованы для защиты рук от механических (истирание, порезы, проколы) и ударных воздействий, от пониженных температур
        .first-screen-slider__pagination.swiper-pagination(
          data-swiper-pagination='main'
        )

      -
        const first = ['О компании', 'Технологии', 'Где купить', 'Услуги']

      each el, i in first
        a.first-screen-cell(href)
          img.first-screen-cell__bg(
            src=`assets/images/first-screen-${i + 1}.jpg`,
            alt=''
          )
          .first-screen-cell__title= el

    .first-bottom
      h2.first-bottom__title Манипула Специалист — первый российский производитель профессиональных высококачественных СИЗ рук
      .first-bottom__text
        .first-bottom__col
          span Фундаментальные принципы компании — пропаганда потребления качественных средств защиты, открытый диалог, исключение компромиссов в вопросах здоровья Человека и реализация лучших международных практик.
        .first-bottom__col
          span Мы предлагаем готовый комплекс эффективных решений в области охраны труда и снижения травматизма на каждом рабочем месте.

  section.solutions
    .container
      h2.h2.main-title Отраслевые решения
      .solutions-list
        -
          const list = [
            'Нефть <br/> и нефтепереработка',
            'Газовая <br/> промышленность',
            'Электроэнергетика',
            'Атомная энергетика',
            'Пищевая <br/> промышленность',
            'Химическая <br/> промышленность'
          ]
        each el, index in list
          a.solutions-item(href)
            img.solutions-item__bg(
              src=`assets/images/solutions-${index}.png`,
              alt=''
            )
            .solutions-item__ttl!= el

  .container
    section.news
      .news-top
        h2.h2 Последние новости
        .controls.only-desktop
          button.slider-control.dark(data-prev='news')
            +arrow-left
          button.slider-control.dark(data-next='news')
            +arrow-right

      .news-slider
        .swiper(data-slider-id='news')
          .swiper-wrapper
            - for (i=0;i<5;i++)
              .swiper-slide.news-slide
                .news-list.only-desktop
                  +news-card(
                    img='news-0',
                    date='6 марта 2023',
                    tag='Новости компании',
                    title='Выставка KIOSH-2023 в Казахстане 24-26 мая'
                  )
                  +news-card(
                    img='news-0',
                    date='6 марта 2023',
                    tag='Новости компании',
                    title='Выставка KIOSH-2023 в Казахстане 24-26 мая'
                  )
                  +news-card(
                    img='news-0',
                    date='6 марта 2023',
                    tag='Новости компании',
                    title='Выставка KIOSH-2023 в Казахстане 24-26 мая'
                  )
                .only-mobile
                  +news-card(
                    img='news-0',
                    date='6 марта 2023',
                    tag='Новости компании',
                    title='Выставка KIOSH-2023 в Казахстане 24-26 мая'
                  )

        a.button.news-slider__more(href='')
          span Все новости
          .button__ico
            +double-arrow-right
