extends ../app

block variables
  //- - preloader = true

block content
  .container
    .first-screen
      a.first-screen-slider(href)
        img.first-screen-slider__bg(
          src='assets/images/first-screen-0.jpg',
          alt=''
        )
        .first-screen-slider__content
          .first-screen-slider__title Перчатки «Дэтрион»
          .first-screen-slider__text Перчатки Дэтрион рекомендованы для защиты рук от механических (истирание, порезы, проколы) и ударных воздействий, от пониженных температур

      - for (i=0;i<4;i++)
        a.first-screen-cell(href)
          img.first-screen-cell__bg(
            src='assets/images/first-screen-1.jpg',
            alt=''
          )
          .first-screen-cell__title О компании

    .first-bottom
      .first-bottom__title Манипула Специалист — первый российский производитель профессиональных высококачественных СИЗ рук
      .first-bottom__text
        .first-bottom__col
          span Фундаментальные принципы компании — пропаганда потребления качественных средств защиты, открытый диалог, исключение компромиссов в вопросах здоровья Человека и реализация лучших международных практик.
        .first-bottom__col
          span Мы предлагаем готовый комплекс эффективных решений в области охраны труда и снижения травматизма на каждом рабочем месте.

  section.solutions
    .container
      h2.h2.main-title Отраслевые решения
      .solutions-list
        -
          const list = [
            'Нефть <br/> и нефтепереработка',
            'Газовая <br/> промышленность',
            'Электроэнергетика',
            'Атомная энергетика',
            'Пищевая <br/> промышленность',
            'Химическая <br/> промышленность'
          ]
        each el, index in list
          .solutions-item
            img.solutions-item__bg(
              src=`assets/images/solutions-${index}.png`,
              alt=''
            )
            .solutions-item__ttl!= el

  .container
    section.news
      .news-top
        h2.h2 Последние новости

      .news-list
        - for (i=0;i<3;i++)
          a.news-item(href)
            img.news-item__img(src='assets/images/news-0.jpg', alt='')
            .news-item__info
              .news-item__date 6 марта 2023
              .news-item__tag
                span [
                | &nbsp;Новости компании&nbsp;
                span ]
            .news-item__title Выставка KIOSH-2023 в Казахстане 24-26 мая
