extends ../app

include ../components/breadcrumbs
include ../components/cards/news-card

block content
  .container
    +breadcrumbs(page='Новости')
    h1.h1(data-aos='fade-up') Новости

    .tabs.news-filters(data-aos='fade-up')
      .tabs__item.active Все
      button.tabs__item Новости компании
      button.tabs__item Отраслевые новости
      button.tabs__item Конференции

    .news-table
      +news-card(
        img='news-0',
        date='6 марта 2023',
        tag='Новости компании',
        title='Выставка KIOSH-2023 в Казахстане 24-26 мая Выставка KIOSH-2023 в Казахстане 24-26 мая Выставка KIOSH-2023 в Казахстане 24-26 мая',
        modal='news'
      )
      //- - for (i=0;i<5;i++)
      //-   +news-card(
      //-     img='news-1',
      //-     date='6 марта 2023',
      //-     tag='Новости компании',
      //-     title='Выставка KIOSH-2023 в Казахстане 24-26 мая',
      //-     modal='news'
      //-   )
      //-   +news-card(
      //-     img='news-0',
      //-     date='6 марта 2023',
      //-     tag='Новости компании',
      //-     title='Выставка KIOSH-2023 в Казахстане 24-26 мая',
      //-     modal='news'
      //-   )

    include ../components/subscribe

block modals
  include ../components/modals/news-modal
  include ../components/modals/success-subscribe-modal
