extends ../app

block variables
  //- - preloader = true

include ../components/breadcrumbs
include ../components/cards/product-card

block content
  .container
    +breadcrumbs(page='Результаты поиска')
    h1.h1 Результаты поиска

    .search-form.empty
      label.search(data-search-form)
        .search__ico
          +search
        .search__input
          input(
            type='search',
            name='search',
            value='1213243',
            placeholder='Введите запрос',
            autocomplete='off',
            data-search
          )

        button.search__reset(data-search-reset)
          +white-cross

      .search-counter По запросу #[span «1213243»] найдено товаров: 0
