extends ../app

include ../components/breadcrumbs

block content
  .container
    +breadcrumbs(page='Подобрать защитное решение')
    h1.h1 Подобрать защитное решение

    .solutions-steps
      -
        const steps = [
          'Идентифицированные опасности',
          'Вид опасности',
          'Опасные события',
          'Тип СИЗ рук, обязательных к выдаче'
        ]
        const active = 0
      each el, i in steps
        if i < active
          .solutions-steps__item
            .button.filter.old-active.no-hover
              .button__ico= i + 1
              span= el
        else if i === active
          .solutions-steps__item
            .button.filter.active.no-hover
              .button__ico= i + 1
              span= el
        else
          .solutions-steps__item
            .button.filter.no-hover
              .button__ico= i + 1
              span= el

    .solutions-title
      .slider-control.dark
        +arrow-left
      h3 Идентифицированные опасности

    .solutions-choice
      -
        const cards = [
          {
            ico: 0,
            ttl: 'Механические опасности'
          },
          {
            ico: 0,
            ttl: 'Опасность, связанная с воздействием ОПЗ'
          },
          {
            ico: 9,
            ttl: 'Опасности, связанные с воздействием электрического тока, статического электричества, а также с воздействием термических рисков электрической дуги'
          },
          {
            ico: 11,
            ttl: 'Опасности, связанные с воздействием повышенных/пониженных температур'
          },
          {
            ico: 5,
            ttl: 'Химические опасности'
          },
          {
            ico: 0,
            ttl: 'Опасность воздействия повышенной концентрации аэрозолей преимущественно фиброгенного действия (АПФД)'
          },
          {
            ico: 0,
            ttl: 'Опасность воздействия биологического фактора (микроорганизмы, насекомые, паукообразные)'
          },
          {
            ico: 0,
            ttl: 'Опасность воздействия повышенного уровня шума'
          },
          {
            ico: 2,
            ttl: 'Опасность от воздействия повышенной вибрации'
          },
          {
            ico: 0,
            ttl: 'Опасности, связанные с воздействием повышенного уровня неионизирующих излучений'
          },
          {
            ico: 0,
            ttl: 'Опасности, связанные с воздействием ионизирующих излучений'
          },
          {
            ico: 0,
            ttl: 'Опасность нанесения увечий животными (млекопитающими, птицами, рыбами)'
          },
          {
            ico: 0,
            ttl: 'Опасность негативного воздействия растений'
          },
          {
            ico: 0,
            ttl: 'Опасности, связанные с работой во взрывопожароопасной среде'
          },
        ]
      each el in cards
        .solutions-choice-card
          +filters(el.ico)
          span= el.ttl
