extends ../app

include ../components/breadcrumbs

block content
  .container
    +breadcrumbs(page='Подобрать защитное решение')
    h1.h1 Подобрать защитное решение

    .solutions-steps
      -
        const steps = [
          'Идентифицированные опасности',
          'Вид опасности',
          'Опасные события',
          'Тип СИЗ рук, обязательных к выдаче'
        ]
        const active = 1
      each el, i in steps
        if i < active
          .solutions-steps__item
            .button.filter.old-active.no-hover
              .button__ico= i + 1
              span= el
        else if i === active
          .solutions-steps__item
            .button.filter.active.no-hover
              .button__ico= i + 1
              span= el
        else
          .solutions-steps__item
            .button.filter.no-hover
              .button__ico= i + 1
              span= el

    .solutions-title
      .slider-control.dark
        +arrow-left
      h3 Механические опасности

    .solutions-choice
      -
        const cards = [
          'Груз, инструмент или предмет, перемещаемый или поднимаемый, в том числе на высоту',
          'Вращающиеся или движущие детали оборудования или инструменты',
          'Упругий элемент применяемых материалов или оборудования, или конструкций',
          'Осколки оборудования, деталей, инструмента, стекла',
          'Неподвижная или подвижная, в том числе вращающаяся колющая поверхность (острие)',
          'Абразивные материалы, в том числе необработанная древесина (в том числе вертикальные и горизонтальные поверхности)',
          'Движущиеся режущие части механизмов, машин',
          'Острые кромки и заусенцы',
          'Дисковые ножи, дисковые пилы и другое (кроме ножей поварских)',
          'Ножи и приспособления, применяемые при обвалке мяса',
          'Ручная цепная пила',
          'Металлическая стружка с острыми кромками, возникающая при механической обработке металлических заготовок и деталей',
          'Стеклянные, фарфоровые или керамические предметы, а также пластиковые изделия острыми кромками',
          'Выполнение работ на значительной глубине в туннелях, под землей, в открытых разрезах, в том числе связанных с добычей полезных ископаемых и эксплуатацией шахт'
        ]
      each el in cards
        .solutions-choice-card
          span= el
