extends ../app

include ../components/breadcrumbs
include ../components/cards/product-card

block content
  .container
    +breadcrumbs(page='Подобрать защитное решение')
    h1.h1(data-aos='fade-up') Подобрать защитное решение

    .solutions-steps.only-desktop(data-aos='fade-up')
      -
        const steps = [
          'Идентифицированные опасности',
          'Вид опасности',
          'Опасные события',
          'Тип СИЗ рук, обязательных к выдаче'
        ]
        const active = 3
      each el, i in steps
        if i < active
          .solutions-steps__item
            .button.filter.old-active.no-hover
              .button__ico= i + 1
              span= el
        else if i === active
          .solutions-steps__item
            .button.filter.active.no-hover
              .button__ico= i + 1
              span= el
        else
          .solutions-steps__item
            .button.filter.no-hover
              .button__ico= i + 1
              span= el

    .solutions-steps.only-mobile(data-aos='fade-up')
      -
        const steps1 = [
          'Идентифицированные опасности',
          'Вид опасности',
          'Опасные события',
          'Тип СИЗ рук, обязательных к выдаче'
        ]
        const active1 = 3

      .swiper(data-slider-id='sol-steps', data-active-slide='3')
        .swiper-wrapper
          each el, i in steps1
            if i < active1
              .swiper-slide
                .solutions-steps__item
                  .button.filter.old-active.no-hover
                    .button__ico= i + 1
                    span= el
            else if i === active1
              .swiper-slide
                .solutions-steps__item
                  .button.filter.active.no-hover
                    .button__ico= i + 1
                    span= el
            else
              .swiper-slide
                .solutions-steps__item
                  .button.filter.no-hover
                    .button__ico= i + 1
                    span= el

    .solutions-title(data-aos='fade-up')
      .slider-control.dark
        +arrow-left
      h3 Удар работника или падение на работника предмета, тяжелого инструмента или груза, упавшего при перемещении или подъеме

  .search-result.solutions-result
    .solutions-result__top(data-aos='fade-up')
      .solutions-result__title СИЗ рук от механических воздействий
      .solutions-result__tag [ Нормы выдачи СИЗ: 12 пар ]
    .search-result__table
      - for (i=0;i<4;i++)
        +card

    .solutions-result__extra
      .solutions-result__top(data-aos='fade-up')
        .solutions-result__title Дополнительно, при необходимости
      .search-result__table
        - for (i=0;i<2;i++)
          +card

    button.button.button--blue.more-button(data-aos='fade-up')
      span Показать еще
      .button__ico
        +arrow-down
