extends ../app

include ../components/breadcrumbs

block content
  .container
    +breadcrumbs(page='Где купить')
    h1.h1(data-aos='fade-up') Где купить

    .where-buy-top(data-aos='fade-up')
      .tabs.big
        .tabs__item.active Юридическим лицам и ИП
        a.tabs__item(href) Физическим лицам

      .tabs
        .tabs__item.active Россия
        a.tabs__item(href) Беларусь
        a.tabs__item(href) Казахстан

    .dropdown.dark.select.only-mobile.city-drop(
      data-select,
      data-aos='fade-up'
    )
      button.dropdown-button(data-select-button)
        span(data-select-active) Выбрать город
        .dropdown-arrow
          +arrow-down
      .dropdown-drop(data-select-drop, style='display: none')
        .dropdown-inner
          ul.dropdown-list
            li(data-select-option) Москва
            li(data-select-option) Краснодар

    .tabs.where-buy-tabs.only-mobile(
      data-tabs-panel,
      data-tab-contents,
      data-aos='fade-up'
    )
      .tabs__item.active(data-tab='1') Список
      .tabs__item(data-tab='2') На карте

    .where-buy-main(data-aos='fade-up')
      .dropdown.dark.select.only-desktop(data-select)
        button.dropdown-button(data-select-button)
          span(data-select-active) Выбрать город
          .dropdown-arrow
            +arrow-down
        .dropdown-drop(data-select-drop, style='display: none')
          .dropdown-inner
            ul.dropdown-list
              li(data-select-option) Москва
              li(data-select-option) Краснодар

      .map-container(data-tab-content='2')
        #where-buy-map(
          data-map-center='58.050234 53.099332',
          data-map-zoom='5'
        )
        .map-filters-container
          .map-filters(data-tabs-panel)
            button.map-filters__item.active(data-tab) Все
            button.map-filters__item(data-tab)
              img(src='assets/images/svg/placemark-1.svg', alt='')
              span Официальные дистрибьюторы
            button.map-filters__item(data-tab)
              img(src='assets/images/svg/placemark-2.svg', alt='')
              span Партнеры

      .where-buy-list.show(data-tabs-panel, data-tab-content='1')
        -
          const cards = [
            {
              ttl: 'ПКФ Специалист',
              txt: 'Красноярск, ул. Затонская, 32 стр.1',
              store: 1
            },
            {
              ttl: 'Спецобъединение Юго-Запад',
              txt: 'Москва, ул. Рябиновая, д. 26, стр. 2',
              store: 2
            },
            {
              ttl: 'ТД Спецперчатка',
              txt: 'Красноярск, ул. Затонская, 32 стр.1',
              store: 1
            },
            {
              ttl: 'ПКФ Специалист',
              txt: 'Красноярск, ул. Затонская, 32 стр.1',
              store: 2
            },
            {
              ttl: 'Спецобъединение Юго-Запад',
              txt: 'Москва, ул. Рябиновая, д. 38Д',
              store: 1
            },
          ]
        each el in cards
          .where-buy-item(
            data-tab,
            data-placemark=el.txt,
            data-store-type=el.store
          )
            .where-buy-item__title= el.ttl
            .where-buy-item__text= el.txt
            ul.list-red-dot
              li
                a(href='tel:+73912717917') +7 (391) 271-79-17
              li
                a(href='mailto:pkf.24@yandex.ru') pkf.24@yandex.ru
              li
                a(href='ps-sib.ru', target='_blank') ps-sib.ru

block scripts
  script(
    src='https://api-maps.yandex.ru/2.1/?apikey=dbf69e3e-9063-4438-8229-4598883ac0dc&lang=ru_RU',
    type='text/javascript'
  )
