extends ../app

include ../components/breadcrumbs

block content
  .container
    +breadcrumbs(page='Где купить')
    h1.h1 Где купить

    .where-buy-top
      .tabs.big
        .tabs__item.active Юридическим лицам и ИП
        a.tabs__item(href) Физическим лицам

      .tabs
        .tabs__item.active Россия
        a.tabs__item(href) Беларусь
        a.tabs__item(href) Казахстан

    .dropdown.dark.select.only-mobile(data-dropdown)
      button.dropdown-button.dropdown-button(data-dropdown-button)
        span Выбрать город
        .dropdown-arrow
          +arrow-down
      .dropdown-drop(data-dropdown-drop, style='display: none')
        .dropdown-inner
          ul.dropdown-list
            li Москва
            li Краснодар

    .tabs.where-buy-tabs.only-mobile(data-tabs-panel, data-tab-contents)
      .tabs__item.active(data-tab='1') Список
      .tabs__item(data-tab='2') На карте

    .where-buy-main
      .dropdown.dark.select.only-desktop(data-dropdown)
        button.dropdown-button.dropdown-button(data-dropdown-button)
          span Выбрать город
          .dropdown-arrow
            +arrow-down
        .dropdown-drop(data-dropdown-drop, style='display: none')
          .dropdown-inner
            ul.dropdown-list
              li Москва
              li Краснодар

      #map(data-tab-content='2')
        a(
          href='https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps',
          style='color: #eee; font-size: 12px; position: absolute; top: 0px'
        ) Санкт‑Петербург
        a(
          href='https://yandex.ru/maps/2/saint-petersburg/?ll=30.302539%2C59.942265&utm_medium=mapframe&utm_source=maps&z=13.78',
          style='color: #eee; font-size: 12px; position: absolute; top: 14px'
        ) Яндекс Карты
        iframe(
          src='https://yandex.ru/map-widget/v1/?ll=30.302539%2C59.942265&z=13.78',
          frameborder='1',
          allowfullscreen,
          style='position: relative'
        )

      .where-buy-list.show(data-tabs-panel, data-tab-content='1')
        -
          const cards = [
            {
              ttl: 'ПКФ Специалист',
              txt: 'Красноярск, ул. Затонская, 32 стр.1'
            },
            {
              ttl: 'Спецобъединение Юго-Запад',
              txt: 'Москва, ул. Рябиновая, д. 26, стр. 2'
            },
            {
              ttl: 'ТД Спецперчатка',
              txt: 'Красноярск, ул. Затонская, 32 стр.1'
            },
            {
              ttl: 'ПКФ Специалист',
              txt: 'Красноярск, ул. Затонская, 32 стр.1'
            },
            {
              ttl: 'Спецобъединение Юго-Запад',
              txt: 'Москва, ул. Рябиновая, д. 26, стр. 2'
            },
            {
              ttl: 'ТД Спецперчатка',
              txt: 'Красноярск, ул. Затонская, 32 стр.1'
            },
          ]
        each el in cards
          .where-buy-item(data-tab)
            .where-buy-item__title= el.ttl
            .where-buy-item__text= el.txt
            ul.list-red-dot
              li
                a(href='tel:+73912717917') +7 (391) 271-79-17
              li
                a(href='mailto:pkf.24@yandex.ru') pkf.24@yandex.ru
              li
                a(href='ps-sib.ru') ps-sib.ru

block scripts
  script(
    src='https://api-maps.yandex.ru/2.1/?apikey=dbf69e3e-9063-4438-8229-4598883ac0dc&lang=ru_RU',
    type='text/javascript'
  )
