#fancy-modal-product.product-modal(style='display: none')
  .product-modal-inner
    +breadcrumbs.only-mobile.product-modal-bread(
      items=['каталог'],
      page='Дэтрион Дэтрион Дэтрион Дэтрион Дэтрион Дэтрион'
    )

    .product-top
      .product-pic-container
        .product-pic-wrapper
          #product-slider.swiper.product-slider
            .swiper-wrapper
              - for (i=0;i<3;i++)
                .swiper-slide.product-slider__slide
                  img(src='assets/images/product-1.jpg', alt='')

          .product-slider-controls.only-desktop
            button#product-slider-prev.slider-control
              +arrow-left
            button#product-slider-next.slider-control
              +arrow-right

          .product-thumbs
            #product-thumbs.swiper
              .swiper-wrapper
                - for (i=0;i<3;i++)
                  .swiper-slide.product-thumbs__slide
                    img(src='assets/images/product-1.jpg', alt='')

      .product-info
        +breadcrumbs.only-desktop(items=['каталог'], page='Дэтрион')
        .product-top__label Перчатки
        h2.product-top__title Дэтрион MG-162 (ex. TPU-13)

        .product-top__block
          h3.product-top__subtitle Где купить
          .product-top__where
            a.button.button--blue(href, target='_blank')
              span spets.ru
              .button__ico
                +link
            a.button.button--grey(href)
              span Дистрибьюторы и партнеры
              .button__ico
                +double-arrow-right
            a.button.button--grey(href)
              span Маркетплейсы
              .button__ico
                +double-arrow-right

        .product-top__block
          h3.product-top__subtitle Соответствие стандартам

          .product-standart-row
            a.product-standart-item(href='')
              img(src='assets/images/product-standart-0.png', alt='')
            a.product-standart-item(href='')
              img(src='assets/images/product-standart-1.png', alt='')

          ul.product-standart-list
            -
              const list = [
                'ТР ТС 019/2011',
                'EN ISO 21420:2020',
                'ГОСТ 12.4.252-2013',
                'EN 388:2016',
                'EN 511:2006',
                'ГОСТ Р ЕН 1149-5-2008'
              ]
            each el in list
              li
                a(href='')= el

        .product-top__block
          h3.product-top__subtitle Эксплуатационные уровни
          .product-levels-row
            .product-levels-item
              img(src='assets/images/svg/product-level-0.svg', alt='')
              div
                .product-levels-txt EN 388:2016
                .product-levels-txt 4322BP
            - for (i=0;i<4;i++)
              .product-levels-item
                img(src='assets/images/svg/product-level-1.svg', alt='')
                div
                  .product-levels-txt EN 511:2006
                  .product-levels-txt 231

        .product-top__block
          h3.product-top__subtitle Защитные свойства
          .product-top__text Класс риска: 2
          .product-prop-row
            - for (i=0;i<3;i++)
              a.product-prop-item(href, target='_blank')
                img(src='assets/images/product-prop-0.png', alt='')
              a.product-prop-item(href, target='_blank')
                img(src='assets/images/product-prop-1.png', alt='')
              a.product-prop-item(href, target='_blank')
                img(src='assets/images/product-prop-2.png', alt='')

        .product-top__block
          h3.product-top__subtitle Технологии
          .product-technolgies-row
            .product-technolgies-item
              img(src='assets/images/product-techs-0.png', alt='')
            .product-technolgies-item
              img(src='assets/images/product-techs-1.png', alt='')

        .product-top__block
          h3.product-top__subtitle Характеристики

          .characteristics
            -
              const chars = [
                {
                  title: 'Основа',
                  value: 'Полиэфир'
                },
                {
                  title: 'Покрытие',
                  value: 'Полиуретан, термопластичная резина'
                },
                {
                  title: 'Вид покрытия',
                  value: 'Защитные накладки'
                },
                {
                  title: 'Подкладка',
                  value: 'Пенополиуретан'
                },
                {
                  title: 'Манжет',
                  value: 'Трикотажный'
                },
                {
                  title: 'Длина, мм',
                  value: '250-270'
                },
                {
                  title: 'Размеры',
                  value: '9, 10, 11'
                },
                {
                  title: 'Упаковка, пар',
                  value: '1, 5, 50'
                },
              ]
            each el in chars
              .characteristics__row
                .characteristics__title= el.title
                .characteristics__value= el.value

        .product-top__block.product-drops
          -
            const drops = [
              'Описание',
              'Рекомендации по эксплуатации',
              'Рекомендованные сферы применения'
            ]
          each el, i in drops
            if i === 0
              .dropdown.product.active(data-dropdown)
                button.dropdown-button(data-dropdown-button)
                  span= el
                  .dropdown-arrow
                    +arrow-down
                .dropdown-drop(data-dropdown-drop)
                  .dropdown-inner.article
                    ul
                      li Перчатки комбинированной конструкции из высокотехнологичного трикотажа и волокон, плотно облегающих руку и дающих комплексную защиту от механических воздействий, ударов и воздействия пониженных температур (в зависимости от типа проводимых работ и погодных условий предназначены для использования в климатических регионах IБ (IV) и IА («Особый») не более 3 часов непрерывного пребывания на холоде. При отсутствии ветра — не более 1 часа до -45 °С)
                      li 3MTM ThinsulateTM плотностью 150 г/м2 отвечает за теплоизоляцию и сохраняет излучаемое телом тепло
                      li Специльно разработанный анатомический рисунок запатентованной термопластичной накладки Inpax® защищает тыльную часть и суставы кисти от ударных воздействий
                      li Мембрана HIPORA® не пропускает влагу внутрь перчатки, но при этом выводит влагу (пот), выделяемую телом при повышенной физической нагрузке
                      li Гибкая и высокопрочная накладка из полиуретана Armortex® на ладонной части защищает от проколов и грубых механических воздействий
                      li Двойная манжета для гарантированной защиты рук от холода и попадания масел, влаги и снега внутрь перчатки; край прошит светоотражающей лентой
            else
              .dropdown.product(data-dropdown)
                button.dropdown-button(data-dropdown-button)
                  span= el
                  .dropdown-arrow
                    +arrow-down
                .dropdown-drop(data-dropdown-drop, style='display: none')
                  .dropdown-inner.article
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem atque exercitationem dolore, ullam voluptate nobis officia numquam neque dolor id voluptates unde nulla et ad obcaecati error reprehenderit tenetur ducimus?

        .product-top__block
          h3.product-top__subtitle Документация
          .documents-row
            -
              const docs = [
                'Листовка',
                'Инструкции',
                'Спецка'
              ]
            each el in docs
              a.documents-item(href, download)
                //- img(src='assets/images/svg/document.svg', alt='')
                +pdf
                div
                  .documents-title= el
                  .documents-size 188 Кб

    .product-bottom
      .product-bottom-title
        h3 Альтернативные модели
        .product-bottom__controls.only-desktop
          button#product-bottom-prev.slider-control
            +arrow-left
          button#product-bottom-next.slider-control
            +arrow-right

      #product-bottom-slider.swiper
        .swiper-wrapper
          - for (i=0;i<6;i++)
            .swiper-slide
              +card
