mixin news-card
  .news-item(data-fancy-button=attributes.modal)
    picture.news-item__img
      source(srcset=`assets/images/${attributes.img}.webp`, type='image/webp')
      img(src=`assets/images/${attributes.img}.jpg`, alt='')
    .news-item__info
      if attributes.date
        .news-item__date= attributes.date
      .news-item__tag
        span.red [
        | &nbsp;
        span= attributes.tag
        | &nbsp;
        span.red ]
    .news-item__title= attributes.title
