mixin footer
  -
    const col1 = ['О компании', 'Технологии', 'Библиотека защиты', 'Новости', 'Контакты', 'Где купить']
    const col1_1 = ['О компании', 'Технологии', 'Библиотека защиты']
    const col1_2 = ['Новости', 'Контакты', 'Где купить']

  footer.footer
    .container
      .footer__main
        a.header__logo(href='')
          img(src='assets/images/svg/logo.svg', alt='logo')

        .footer__main-col1.only-desktop
          each el, i in col1
            a(href='')
              span #{ el }

        .footer__main-col1.only-mobile
          each el, i in col1_1
            a(href='')
              span #{ el }
        .footer__main-col1.only-mobile
          each el, i in col1_2
            a(href='')
              span #{ el }

        .footer__contacts
          .footer__contacts-col
            a.footer__tel(href='tel:+74950330331') +7 495 033-033-1
            a.footer__mail(href='mailto:info@manipulas.ru') info@manipulas.ru

            .footer__address
              .footer__address-txt 121471, Москва, ул. Рябиновая, 26/2, БЦ «West Plaza»
              a.footer__address-btn(href, target='_blank')
                +map
                span На карте

          a.footer__social(href)
            +vk

      .footer__middle
        -
          const cols = ['Ассоциация разработчиков, изготовителей и поставщиков средств индивидуальной защиты', 'Лицензионный партнер по программе СИЗ рук из материала DuPont™ Kevlar® на территории РФ', 'Лицензионный партнер по программе СИЗ рукиз материала Dyneema® Diamond Technology на территории РФ', 'Лицензионный партнер по программе СИЗ рук из материала Thermolite® на территории ЕАС']

        each el, i in cols
          .footer__middle-col
            img.footer__middle-img(
              src=`assets/images/footer-mid-${i}.png`,
              alt=''
            )
            .footer__middle-txt!= el

      .footer__corp
        .footer__rights © 2008-2023 ООО «Манипула Специалист»
        button.footer__policy(data-fancy-button='policy') Политика конфиденциальности
        .footer__author Сделано в #[a(href) Клаудмил]
